header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.logout-button {
  width: 50px; /* Tamanho maior para garantir que o botão seja visível */
  height: 50px;
  background-color: #007bff; /* Cor de fundo visível */
  border: none;
  border-radius: 5px; /* Bordas arredondadas para estética */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.logout-button:hover {
  background-color: #0056b3; /* Cor de fundo no hover */
}