.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-page h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.register-page form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.register-page form div {
    margin-bottom: 15px;
}

.register-page label {
    margin-bottom: 5px; /* Espaçamento entre o label e o input */
    font-size: 1rem;
}

.register-page input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;  /* Garante que o input ocupe toda a largura disponível */
}

.register-page button {
    padding: 10px;
    font-size: 1rem;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-page button:hover {
    background-color: #e67e22;
}

.register-page .login-link {
    margin-top: 20px;
}